@{
    ViewBag.Title = "About";
}
<div class="align-items-center">
    <div class="align-self-center">
        <h1 class="h1 text-secondary"><b>City</b>Tech</h1>
        <p>
            City Tech es una tienda de tecnología que vende diversidad de productos de alta calidad, ubicada en San Pedro de Montes de Oca.
            Visítenos de Lunes a Viernes de 8 am a 5 pm.
        </p>
    </div>
</div>

