@{
    ViewBag.Title = "Home Page";
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="text-center">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/Content/assets/img/architecture-gf87b6eeef_1280.jpg" />
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-secondary"><b>City</b> Tech</h1>
                            <p>
                                City Tech es una tienda de tecnología que vende diversidad de productos de alta calidad, ubicada en San Pedro de Montes de Oca.
                                Visítenos de Lunes a Viernes de 8 am a 5 pm. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categorías con descuento</h1>
            <p>

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="">
                <img src="~/Content/assets/img/hands-g9d86cd997_1280.jpg" class="rounded-circle img-fluid border" />
            </a>
            <h5 class="text-center mt-3 mb-3">Computadoras</h5>
            <p class="text-center"><a class="btn btn-secondary">Comprar</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="">
                <img src="~/Content/assets/img/samsung-g0a5f72317_1280.jpg" class="rounded-circle img-fluid border" />
            </a>
            <h2 class="h5 text-center mt-3 mb-3">Audífonos</h2>
            <p class="text-center"><a class="btn btn-secondary">Comprar</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="">
                <img src="~/Content/assets/img/workplace-g5fd1ffc7c_1280.jpg" class="rounded-circle img-fluid border" />
            </a>
            <h2 class="h5 text-center mt-3 mb-3">Paquetes tecnológicos</h2>
            <p class="text-center"><a class="btn btn-secondary">Comprar</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Calificaciones</h1>
                <p>
                    Conosca las reseñas de nuestros clientes
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/Content/assets/img/room-ga722900c6_1280.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">₡250000</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Televisores</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/Content/assets/img/fortnite-g411dcf8cc_1280.jpg" class="card-img-top" alt="..." />
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">₡250000</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">PC Gamer</a>
                        <p class="card-text">
                            Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                        </p>
                        <p class="text-muted">Reseñas (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/Content/assets/img/apple-gef28ec73d_1280.jpg" class="card-img-top" alt="..." />
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$360.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Pantallas</a>
                        <p class="card-text">
                            Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                        </p>
                        <p class="text-muted">Reseñas (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->
